html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
  font-family: sans-serif;
  line-height: 3ex;
}

header {
  display: flex;
  padding: 0.5ex 0.5em;
  align-items: baseline;
  background-color: #ffe700;
}
header > * {
  padding: 0.5ex 0.5em;
}
header .fill {
  flex: 1;
}
h1, h2 {
  font-size: 1em;
}
h1 {
  text-transform: uppercase;
}
h2 {
  font-weight: normal;
}
table {
  border-collapse: collapse;
  margin: 3ex 3em 0 0;
  display: inline-block;
}
table:first-child {
  margin: 0 3em 0 0;
}
th, td {
  border: 1px solid black;
  padding: 0.5ex 1em;
  text-align: left;
}
blockquote {
  white-space: pre;
  margin: 3ex 2em 6ex 2em;
}

/* welcome */
.welcome {
  background: transparent url(img/kit.jpg) no-repeat center center;
  background-size: cover;
}

/* construction plan */
svg {
  display: inline-block;
}
svg.construction-plan {
  max-height: calc(100vh - 24ex);
  margin: 1ex 1em;
}
rect.lath {
  fill: white;
  stroke: black;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
rect.frameborder {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}
rect.outline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
  stroke: none;
  vector-effect: non-scaling-stroke;
}

footer {
  text-align: right;
  padding: 1px 1.3em;
  font-size: 0.8em;
}

main {
	display: flex;
	flex-direction: column;
	flex: auto;
	overflow: hidden;
}

nav {
  display: flex;
  padding: 1ex 0.5em;
  flex-direction: row;
  min-width: 12em;
}
header a,
nav a {
  color: #ff3a6b;
  padding: 0.5ex 0.5em;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
header h1 a {
  padding: 0;
  color: inherit;
}

article {
	flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

article.introduction,
article.interaction {
	overflow: hidden;
}

article.construction .frame {
  outline: 1px solid black;
  margin: 1ex 0.5em;
  padding: 1ex 0.5em;
}

article canvas {
  outline: none;
}

article.abstract,
article.help {
  padding: 3ex 1em;
}

article h3 {
  font-size: 1.4em;
  margin: 0.618ex 0 1.618ex 0;
}
article h4 {
  font-size: 1em;
  margin: 2ex 0 1ex 0;
}

article p {
  margin: 3ex 0;
  max-width: 53em;
  font-family: serif;
}
article img {
  width: 53em;
  max-width: 100%;
}
article  a {
  color: #364177;
}
article  ul {
  padding: 0 3em;
}


aside form {
  padding: 3ex 1em;
  min-width: 18em;
}
aside label {
  min-width: 4em;
  display: inline-block;
}
aside input {
  font: inherit;
  width: 5em;
  height: 3ex;
  border: 1px solid black;
  padding: 0 0 0 0.5em;
  margin: 0 0.5em;
}

  /*
  yellow: #ffe700
  blue: #28274d
  red: 
  */

@media (min-aspect-ratio: 1/1) {
  main {
    flex-direction: row;
  }
  nav {
    flex-direction: column;
  }
  nav > * {
    margin: 0 1em 1ex 0;
  }
  article.construction .frame {
    margin: 3ex 1em;
    padding: 3ex 1em;
  }
  aside {
    border-left: 1px solid black;
  }
}
@media (min-width: 1400px) {
  header {
    padding: 1.5ex 1em;
  }
  header > * {
    padding: 1.5ex 0.5em;
  }
  article.abstract,
  article.help {
    padding: 6ex 3em 9ex 1em;
  }
  article.construction {
    padding: 4.5ex 3em 9ex 1em;
  }
  article.construction .frame {
    margin: 2ex 1.5em;
    padding: 2ex 1.5em;
  }
  nav {
    padding: 6ex 3em 9ex 1em;
  }
}

@media (max-width: 600px) {
  nav {
    min-width: none;
  }
  table {
    font-size: 0.7em;
  }
  th, td {
    padding: 1px 0.5em;
  }
}
@media (max-width: 460px) {
  blockquote {
    font-size: 3.5vw;
    margin: 1ex 0;
    line-height: 1.8;
  }
}

@media print {
  header,
  main nav,
  article div.frame,
  main aside,
  footer {
    display: none;
  }
  article {
    overflow: hidden;
  }
}

article div.frame {
  display: none;
}
